{% ckan_extends %}

{% block styles %}
    {{ super() }}

    {% asset 'isebel/isebel-css' %}

{% endblock %}}

{% block header_site_search %}
    <form class="d-flex site-search" action="{% url_for dataset_type ~ '.search' %}" method="get">
        {{ h.csrf_input() }}
        <label class="d-none" for="field-sitewide-search">{% block header_site_search_label %}
            {{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search Datasets...') }}{% endblock %}</label>
        <input id="field-sitewide-search" class="form-control me-2" type="text" name="q" placeholder="{{ _('Search') }}"
               aria-label="{{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search datasets...') }}"/>
        <button class="btn" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
    </form>
{% endblock %}