{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 360 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% block package_item %}
{#  <li class="{{ item_class or "dataset-item" }}">#}
  <div class="hcListBasicResult" onclick="location.href='{{ h.url_for('%s.read' % package.type, id=package.name) }}';">
    {% block content %}
        {% block notes %}
          {% if notes %}
            <div class="hcListItemLong">{{ notes|urlize }}</div>
          {% else %}
            <div class="hcListItemLong">{{ _("This dataset has no description") }}</div>
          {% endif %}
        {% endblock %}

        <div class="hcItemsStretch hcSmallTxt">
        {% if c.controller %}
            <div class="hcColumnsEqual">
              {% set key, keywords = h.facet_get_extra_data_field(package.extras, '_keyword', True) if h.facet_get_extra_data_field(package.extras, '_keyword', True) else (None, None) %}
              {% set keywords = keywords.split(';') if keywords else [] %}
              {% for keyword in keywords[:7] %}
                <div class="hcIsTags">
                    <img alt="Keyword: {{ keyword.decode('utf-8').strip() }}" src="https://d33wubrfki0l68.cloudfront.net/fb601fac0a70dc030111b00f4dd3ee7fc84458b3/6d759/images/icons/icon-tag.png" class="hcTag">
                    <a href="{{ h.add_url_param(h.url_for(controller='dataset', action='search'), new_params={key.decode('utf-8'): keyword.decode('utf-8').strip()}) }}"> {{ keyword.decode('utf-8').strip() }}</a>
                </div>
              {% endfor %}
              {% if h.facet_len(keywords) > 7 %}
                <div>more ... </div>
              {% endif %}
            </div>
        {% endif %}
        <div>
            {% block heading_title %}
{#              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}#}
              {{ h.truncate(title, truncate_title) }}
            {% endblock %}
        </div>
        </div>
    {% endblock %}
  </div>
{% endblock %}
