{% ckan_extends %}

{% block extras scoped %}
    {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        {% if key == 'data_url' %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Identifier') }}</th>
                <td class="dataset-details" property="rdf:value"><a href="{{ value }}" target="_blank">{{ value }}</a></td>
            </tr>
        {% elif key == 'date' %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Narration date') }}</th>
                <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr> 
        {% elif key == 'place_narration' or 'location_name' in key %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Narration place') }}</th>
                <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr>
        {% elif key == 'narrator gender' %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr>
        {% elif key == 'nl_keyword' or key == 'da_keyword' or key == 'de_keyword' %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Keyword') }}</th>
                <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr> 
        {% elif key == 'datePublished' %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Date published') }}</th>
                <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr> 
        {% elif key == 'content' or key == 'MD5' or key == 'State' or key == 'Created' or key == 'Last Updated' or key == 'spatial' or 'location_id' in key or 'location_geopoint' in key %}
        {% else %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock %}